{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/keyword.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="contents">
    <input type="hidden" id="word" name="word" value="{{ word }}">
    <div class="video1 animate" data-animate = "motion">
        <div class="inner">
            <div class="title  animate" data-animate = "motion">
                <div data-splitting class="en">KoNLPy-keyword</div>
                <P>키워드분석</P>
            </div>
            <div class="videoBox" data-animate = "motion">
                <li>
                    <img src="{% static 'img/keyword_1.png' %}" alt="" style="width: 750px;">
                </li>
                <li>
                    <img src="{% static 'img/keyword_2.png' %}" alt="" style="width: 750px;">
                </li>
                <li>
                    <img src="{% static 'img/keyword_3.png' %}" alt="" style="width: 750px;">
                </li>
            </div>
        </div>
    </div>
    <section class="contents2" style="background:#666;">
        <div class="information">
            <div class="scrollBox" id="scroll">
                <a href="#" class="scroll en" id="chatScroll" style="color:white">MOST COMMON KEYWORDS<span>
                    <!-- <img src="{% static 'img/scrolldown.png' %}" alt=""> -->
                </span></a>
            </div>
        </div>
    </section>
    <section class="strips">
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title" id="word1"></h1>
            <div class="strip__inner-text">
              <br>
              3:20 노랑자켓 이뻐요<br>
              8:21 노랑 자켓 내가 찍얶던건데<br>
              15:13 저자켓이뿌네요ㅠㅠ<br>
              16:22 자켓이뻐요 인스타에서밧는데!!!!!<br>
              18:45 얼마에요 자켓???<br>
              20:41 오빠자켓편해요???남자칭구사주구싶넹<br>
              23:09 노란자켓 사이즈 슬리피가 입은게 xl인가요<br>
              23:37 슬리피 자켓사이즈 무엇?<br>
              31:17 노란자켓 다른색상도 입어봐주믄 좋겠어요<br>
              32:54 슬리피님 얼굴 자켓 바지 볼매<br>
              33:06 카키색 자켓 보고프다<br>
              37:31 헐 자켓체크무엇<br>
              37:55 아 코치자켓<br>
              37:57 자켓너무이쀼댜이이이<br>
              38:39 코치자켓 색상 어떻게있을까요?????<br>
              39:08 리버서블자켓 색상궁금해요!!<br>
              41:56 여자도자켓어울리나요<br>
              44:57 저자켓도 여자가입을수잇나요?입어봐주세요<br>
              46:22 여자모델이입어주세요 자켓<br>
              49:30 엠디님 키몇이세요????이뿌다 자켓<br>
              56:41 셔켓 셔츠와 자켓 합성어<br>
              1:10:33 슬리피형님 첫 자켓
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title" id="word2"></h1>
            <div class="strip__inner-text">
              <br>
              35:33 블루 예뻐요 진이랑 어울<br>
              36:20 로열블루<br>
              36:26 로열블루<br>
              36:26 로열블루<br>
              36:26 레드 화이트 블루<br>
              36:28 레드 화이트 블루<br>
              36:28 로열블루<br>
              36:29 로열블루<br>
              36:30 로열블루<br>
              36:32 로열블루<br>
              36:32 레드 화이트 블루<br>
              36:32 레드 화이트 블루<br>
              36:33 로열블루<br>
              36:33 로열블루<br>
              36:35 로열블루<br>
              36:36 로열블루<br>
              36:44 로열블루<br>
              36:47 로열블루<br>
              38:53 로열블루♡♡<br>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title" id="word3"></h1>
            <div class="strip__inner-text">
              <br>
              8:25 완죤 기다리던 방송이에여! 슬리피님 진행이라니 완전 찰떡이네용<br>
              14:53 이런 방송참여 처음 입니다. ㅋ<br>
              29:50 지금 엠디님 입고계시는 바지는 방송판매상품아닌가용?<br>
              35:21 재밌어 이방송ㅋㅋㅋㅋ 두분 센스가 좋으시네 몰랐는데 슬리피님 옷빨 잘받는듯<br>
              37:51 방송 부탁합니다<br>
              40:02 이 방송 재밌엉ㅋㅋㅋㅋㅋ<br>
              43:36 방송 재있어요<br>
              43:51 방송 또 해주세요<br>
              44:03 다음 방송에 슬리피 또 나오나요<br>
              1:12:44 사적방송 보고싶을정도로 잘하심<br>
              1:14:08 칭구들한테 오늘 방송 혜택 알릴게용<br>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title" id="word4"></h1>
            <div class="strip__inner-text">
              15:48 모델??<br>
              16:11 아역시 슬모델 ㅋㅋㅋㅋㅋㅋㅋㅋㅋ<br>
              16:36 모델ㅋ<br>
              16:39 명품비율 슬모델!<br>
              30:07 와 모델인줄<br>
              33:07 MD분 모델 같아요<br>
              34:31 모델님도 모자한벋써주세여 <br>
              37:16 모델분ㅋㅋㅋ<br>
              42:21 여자모델은없나요오늘?<br>
              45:31 여자모델이입은거보고싶어요<br>
              45:54 모델분 셔츠 사이즈 알려주세요 !!<br>
              46:22 여자모델이입어주세요 자켓<br>
              47:44 엠디님 모델핏<br>
              56:42 이모델 대박인듯<br>
              1:09:31 피쉬테일에 후드가 없는 모델<br>
            </div>
          </div>
        </article>
        <article class="strips__strip">
          <div class="strip__content">
            <h1 class="strip__title" id="word5"></h1>
            <div class="strip__inner-text">
              11:49 모자 넘 예뻐요 <br>
              11:54 모자 이쁘네요!!<br>
              11:58 모자갖고싶다 ㅠㅠ<br>
              15:12 저멀리 모자사은품 내가 보고있다<br>
              16:06 모자  모자 ㅋㅋㅋ 커커커 컴온!!  <br>
              23:15 모자갖고싶다아 ㅠㅠ<br>
              29:03 모자 예뿌당<br>
              29:05 모자이쁘다 헐<br>
              34:31 모델님도 모자한벋써주세여 <br>
              36:47 모자이쁘다<br>
              39:11 모자도 한 번 써봐주세요 <br>
              58:10 도라에몽 슈타일 모자당<br>
              1:00:28 대나무헬리콥터 달고픈 모자에옄ㅋㅋ<br>
              1:04:20 사은품모자는 핏 못보나여 ㅠㅠ<br>
              1:05:28 사은품모자핏보고시퍼여 ㅠㅠ<br>
              1:06:04 모자쓰니 잘생겨보여요<br>
            </div>
          </div>
        </article>
        <i class="fa fa-close strip__close"></i>
      </section>
</section>
<script>
    var Expand = (function() {
        var tile = $('.strips__strip');
        var tileLink = $('.strips__strip > .strip__content');
        var tileText = tileLink.find('.strip__inner-text');
        var stripClose = $('.strip__close');
        
        var expanded  = false;
        
        var open = function() {
            var tile = $(this).parent();
            
            if (!expanded) {
                tile.addClass('strips__strip--expanded');
                // add delay to inner text
                tileText.css('transition', 'all .5s .3s cubic-bezier(0.23, 1, 0.32, 1)');
                stripClose.addClass('strip__close--show');
                stripClose.css('transition', 'all .6s 1s cubic-bezier(0.23, 1, 0.32, 1)');
                expanded = true;
            }
        };
        
        var close = function() {
            if (expanded) {
                tile.scrollTop(0);
                tile.removeClass('strips__strip--expanded');
                
                // remove delay from inner text
                tileText.css('transition', 'all 0.15s 0 cubic-bezier(0.23, 1, 0.32, 1)');
                stripClose.removeClass('strip__close--show');
                stripClose.css('transition', 'all 0.2s 0s cubic-bezier(0.23, 1, 0.32, 1)')
                expanded = false;
            }
        };
        
        var bindActions = function() {
            tileLink.on('click', open);
            stripClose.on('click', close);
        };

        var init = function() {
            bindActions();
        };
        
        return {
            init: init
        };
    }());

    Expand.init();
</script>
<script>
    var data = document.getElementById("word").value;
    data = data.split(',');

    for(var i=0;i<5;i++){
        data[i] = data[i].replaceAll("'"," ")
        data[i] = data[i].replaceAll("["," ")
        data[i] = data[i].replaceAll("]"," ")
        var text = document.getElementById("word"+[i+1]);
        text.innerText = data[i]
    }
</script>
{% endblock %}
