{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<section class="contents">
    <input type="hidden" id="timeLine" name="timeLine" value="{{ timeLine }}">
    <input type="hidden" id="chat" name="chat" value="{{ chat }}">
    <div class="video1 animate" data-animate = "motion">
        <div class="inner">
            <div class="title  animate" data-animate = "motion">
                <div data-splitting class="en">KoNLPy-keyword</div>
                <P>키워드분석</P>
            </div>
            <a href="#" class="more en">FIND OUT MORE</a>
            <div class="videoBox">
                <img src="{% static 'img/keyword.png' %}" alt="" style="width: 750px;">
            </div>
        </div>
    </div>
</section>
{% endblock %}
