<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>H-NUNE</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/scrolla.jquery.min.js' %}"></script>

</head>
<body>
<div class="wrap">
   <!-- header-->
    <header>
        <div class="innerHeader">
            <h1 class="logo"><a href="/">
                <img src="{% static 'img/white.png' %}" alt="로고">
                <img src="{% static 'img/english.png' %}" alt="로고2">
            </a></h1>
            <ul class="gnb">
                <li><a href="/">Home</a>
                    <ul class="inner">
                        <li><a href="/"><span>HOME</span></a></li>
                        <li><a href="#"><span>INFO</span></a></li>
                    </ul>
                </li>
                <li><a href="/">H-Nune</a>
                    <ul class="inner">
                        <li><a href="/keyword"><span>KEYWORD</span></a></li>
                        <li><a href="/timeline"><span>TIMELINE</span></a></li>
                        <li><a href="/emotion"><span>EMOTION</span></a></li>
                        <li><a href="#"><span>CORRELATION</span></a></li>
                        <li><a href="#"><span>BIG-DATA</span></a></li>
                    </ul>
                </li>
                <li><a href="#">About us</a>
                    <ul class="inner">
                        <li><a href="#"><span>About Us</span></a></li>
                        <li><a href="#"><span>Vitamin Plus</span></a></li>
                        <li><a href="#"><span>Contact</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
{% block content %}
{% endblock %}
    <!-- footer -->
    <footer>
        <ul>
            <li>채팅데이터 분석</li>
            <li>빅데이터</li>
        </ul>
        <ul>
            <!-- <li>현대 IT&E 한섬팀 조신성</li>
            <li>현대 IT&E 한섬팀 하수빈</li>
            <li>현대 IT&E 홈쇼핑 주문운영팀 진원지</li> -->
            <li>한섬 옷을 좋아하고</li>
            <li>한섬의 라이브커머스를 좋아해서</li>
            <li>"한눈에" 한섬 라이브 커머스를 보고 싶어 만든 웹</li>
        </ul>
        <p>COPYRIGHT VITAMIN-PLUS 2021</p>
    </footer>
</div>
</body>
</html>
