<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>H-NUNE</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/scrolla.jquery.min.js' %}"></script>

</head>
<body>
<div class="wrap">
   <!-- header-->
    <header>
        <div class="innerHeader">
            <h1 class="logo"><a href="/">
                <img src="{% static 'img/white.png' %}" alt="로고">
                <img src="{% static 'img/english.png' %}" alt="로고2">
            </a></h1>
            <ul class="gnb">
                <li><a href="#">Home</a>
                    <ul class="inner">
                        <li><a href="#"><span>TimeLine</span></a></li>
                        <li><a href="#"><span>분석그래프</span></a></li>
                    </ul>
                </li>
                <li><a href="/">H-Nune</a>
                    <ul class="inner">
                        <li><a href="/keyword"><span>Keyword</span></a></li>
                        <li><a href="#"><span>감정분석</span></a></li>
                        <li><a href="#"><span>타임라인</span></a></li>
                    </ul>
                </li>
                <li><a href="#">About us</a>
                    <ul class="inner">
                        <li><a href="#"><span>About Us</span></a></li>
                        <li><a href="#"><span>Vitamin Plus</span></a></li>
                        <li><a href="#"><span>Contact</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
<!--visual -->
    <section class="visual">
        <ul class="slide">
            <li>
                <img src="{% static 'img/visual1.jpg' %}" alt="">
                <div class="txt en">
                    <div data-splitting>Chat analytics</div>
                    <div data-splitting>- Vitamin Plus -</div>
                </div>
                <a href="#" class="en en1">FIND OUT MORE</a>
                <span class="mask a"></span> <span class="mask b"></span> <span class="mask c"></span> <span class="mask d"></span>
            </li>
            <li>
                <img src="{% static 'img/visual2.jpg' %}" alt="">
                <div class="txt en">
                    <div data-splitting>Chat analytics</div>
                    <div data-splitting>- Vitamin Plus -</div>
                </div>
                <a href="#" class="en en1">FIND OUT MORE</a>
                <span class="mask a"></span> <span class="mask b"></span> <span class="mask c"></span> <span class="mask d"></span>
            </li>
            <li>
                <img src="{% static 'img/visual3.jpg' %}" alt="">
                <div class="txt en">
                    <div data-splitting>Chat analytics</div>
                    <div data-splitting>- Vitamin Plus -</div>
                </div>
                <a href="#" class="en en1">FIND OUT MORE</a>
                <span class="mask a"></span> <span class="mask b"></span> <span class="mask c"></span> <span class="mask d"></span>
            </li>
        </ul>
    </section>
{% block content %}
{% endblock %}
    <!-- footer -->
    <footer>
        <ul>
            <li>채팅데이터 분석</li>
            <li>빅데이터</li>
        </ul>
        <ul>
            <li>현대 IT&E 한섬팀 조신성</li>
            <li>현대 IT&E 한섬팀 하수빈</li>
            <li>현대 IT&E 홈쇼핑 주문운영팀 진원지</li>
        </ul>
        <p>COPYRIGHT VITAMIN-PLUS 2021</p>
    </footer>
</div>
</body>
</html>
