{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<!--visual -->
    <section class="visual">
        <ul class="slide">
            <li>
                <img src="{% static 'img/visual1.jpg' %}" alt="">
                <div class="txt en">
                    <div data-splitting>Chat analytics</div>
                    <div data-splitting>- Vitamin Plus -</div>
                </div>
                <a href="#" class="en en1">FIND OUT MORE</a>
                <span class="mask a"></span> <span class="mask b"></span> <span class="mask c"></span> <span class="mask d"></span>
            </li>
            <li>
                <img src="{% static 'img/visual2.jpg' %}" alt="">
                <div class="txt en">
                    <div data-splitting>Chat analytics</div>
                    <div data-splitting>- Vitamin Plus -</div>
                </div>
                <a href="#" class="en en1">FIND OUT MORE</a>
                <span class="mask a"></span> <span class="mask b"></span> <span class="mask c"></span> <span class="mask d"></span>
            </li>
            <li>
                <img src="{% static 'img/visual3.jpg' %}" alt="">
                <div class="txt en">
                    <div data-splitting>Chat analytics</div>
                    <div data-splitting>- Vitamin Plus -</div>
                </div>
                <a href="#" class="en en1">FIND OUT MORE</a>
                <span class="mask a"></span> <span class="mask b"></span> <span class="mask c"></span> <span class="mask d"></span>
            </li>
        </ul>
    </section>
<!--contents-->
<section class="contents">
    <span class="line a"></span><span class="line b"></span><span class="line c"></span>
    <div class="information">
        <div class="inner animate" data-animate = "motion" >
            <div class="title ">
                <div data-splitting class="en" style="margin-top: 50px;">Live</div>
                <div data-splitting class="en">TEXT-MINING</div>
                <p>한섬 라이브 커머스 채팅 분석을 통한 매출 증대</p>
            </div>
        </div>
        <div class="slideBox">
            <ul class="slide2">
                <li><a href="/timeline"><p class="img"><span><img src="{% static 'img/test_data.PNG' %}" alt=""></span></p></a></li> 
                <li><a href="/keyword"><p class="img"><span><img src="{% static 'img/keyword.png' %}" alt=""></span></p></a></li> 
                <li><a href="/emotion"><p class="img"><span><img src="{% static 'img/emotion2.png' %}" alt="" width="300px"></span></p></a></li> 
                <!-- <li><a href="#"><p class="img"><span><img src="{% static 'img/slide4.jpg' %}" alt=""></span></p></a></li> -->
            </ul>
            <a href="#" class="more en">FIND OUT MORE</a>
        </div>
    </div>
    <div class="video animate" data-animate = "motion">
        <div class="inner">
            <div class="title  animate" data-animate = "motion">
                <div data-splitting class="en">HANDSOME TimeLINE</div>
                <P>채팅타임라인</P>
            </div>
            <a href="/timeline" class="more en">FIND OUT MORE</a>
            <div class="videoBox">
                <!-- <iframe width="690" height="391" src="https://www.youtube.com/embed/xgO8wm-9fv0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <p class="mask"><span><div id="chartdiv"></div></span></p>
            </div>
        </div>
    </div>
    <input type="hidden" id="timeLine" name="timeLine" value="{{ timeLine }}">
    <div class="video1 animate" data-animate = "motion">
        <div class="inner">
            <div class="title  animate" data-animate = "motion">
                <div data-splitting class="en">KoNLPy-keyword</div>
                <P>키워드분석</P>
            </div>
            <img src="{% static 'img/keyword_1.png' %}" alt="" style="width: 750px; margin-left: 140px">
            <a href="/keyword" class="more en">FIND OUT MORE</a>
        </div>
    </div>
    <div class="business">
        <div class="inner animate" data-animate = "motion">
            <div class="title">
            <div data-splitting class="en">BUSINESS</div>
            <P><b>텍스트 마이닝</b>을 통한
                <br><b style="color:rgb(245, 132, 132);">한섬</b>의 라이브 커머스 활용은
                <br>이제 시작됩니다.</P>
            </div>
            <a href="#" class="more en">FIND OUT MORE</a>
        </div>
        <ul class="list">
            <li class="animate" data-animate = "motion" ><a href="/keyword">
                <p class="img"><img src="{% static 'img/wordcloud.png' %}" alt="" style="width: 500px;"></p>
                <div class="txt">
                    <h3 class="en">TEXT MINING<br><span> BUSINESS</span></h3>
                    <p>KoNLPy-keyword 분석을 통한 <br>고객반응 활용방안</p>
                    <i class="icon"></i>
                </div>
            </a></li>
            <li class="animate" data-animate = "motion"><a href="/timeline">
                <p class="img"><img src="{% static 'img/test_Data2.PNG' %}" alt="" style="width: 500px;"/></p>
                <div class="txt">
                    <h3 class="en">STATISTICS <br><span>BUSINESS</span></h3>
                    <p>데이터 통계 분석을 통한  <br>매출 증대 방안</p>
                    <i class="icon"></i>
                </div>
            </a></li>
            <li class="animate" data-animate = "motion"><a href="/emotion">
                <p class="img"><img src="{% static 'img/emotion2.png' %}" alt="" style="width: 700px;"/></p>
                <div class="txt">
                    <h3 class="en">BIG DATA<br><span> BUSINESS</span></h3>
                    <p>지속적인 데이터 축적을 통한 <br>빅데이터 비즈니스 도출</p>
                    <i class="icon"></i>
                </div>
            </a></li>
        </ul>
    </div>
    <!-- <div class="career  animate" data-animate = "motion">
        <div class="inner animate" data-animate = "motion">
            <div class="title">
                <div data-splitting class="en">CAREER</div>
            <P>열정과 실천의지를 가지고 있는<br>인재를 기다립니다.</P>
            </div>
            <a href="#" class="more en">FIND OUT MORE</a>
        </div>
    </div>
    <div class="customers animate" data-animate = "motion">
        <div class="inner animate" data-animate = "motion">
            <div class="left">
                <div class="title">
                    <div data-splitting class="en">CUSTOMERS</div>
                <P>기대를 넘어선 품격을 경험해 보세요.</P>
                </div>
                <a href="#" class="more en">FIND OUT MORE</a>
            </div>
            <ul class="right">
                <li><a href="#"><img src="img/icon1.png" alt="FAQ"></a></li>
                <li><a href="#"><img src="img/icon2.png" alt="마감재"></a></li>
                <li><a href="#"><img src="img/icon3.png" alt="관심단지등록"></a></li>
                <li><a href="#"><img src="img/icon4.png" alt="1:1문의"></a></li>
            </ul>
        </div>
    </div> -->
</section>
<style>
    #chartdiv {
      width: 90%;
      height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  // timeLine Data
  var data = document.getElementById("timeLine").value;
  timeLineArr = new Map();
  for (var i=0; i<120; i++){
    timeLineArr.set(i)
  }
  data = data.split(",");
  var key = "";
  var value = "";
  // document.getElementById("result").innerText = timeLineArr;
  // console.log(data);
  console.log(timeLineArr);

am4core.ready(function() {

  // Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

var dataArray = [];
var dataColorArray = [];

for(var j=0; j<76; j++){
  for(var i =0; i<data.length; i++){
    if(data[i].includes("(")){
      key = data[i].split("'")[1];
      // console.log(key);
    }
    if(key==j){
      if(data[i].includes(")")){
        value = data[i].split(")")[0].trim();
        timeLineArr.set(parseInt(key), value);
        var dataObject = {};
        dataObject.country = key;
        dataObject.visits = value;

        dataArray.push(dataObject);
        var colorObject = {};
        colorObject.color = "#4F7CAC";
        console.log(colorObject);
        dataColorArray.push(colorObject);
      }
    }
  }
}
chart.colors.list = [
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
];
console.log(typeof(chart.colors.list))
// console.log(dataObject);
// console.log(dataArray);

chart.data = dataArray;
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.title.text = "Live Time";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.minGridDistance = 40;
categoryAxis.fontSize = 11;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.title.text = "채팅 수";
valueAxis.min = 0;
valueAxis.max = 50;
valueAxis.strictMinMax = true;
valueAxis.renderer.minGridDistance = 30;
// axis break
var axisBreak = valueAxis.axisBreaks.create();
axisBreak.startValue = 2100;
axisBreak.endValue = 22900;
//axisBreak.breakSize = 0.005;

// fixed axis break
var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

// make break expand on hover
var hoverState = axisBreak.states.create("hover");
hoverState.properties.breakSize = 1;
hoverState.properties.opacity = 0.1;
hoverState.transitionDuration = 1500;

axisBreak.defaultState.transitionDuration = 1000;

// this is exactly the same, but with events
axisBreak.events.on("over", function() {
  axisBreak.animate(
    [{ property: "breakSize", to: 1 }, { property: "opacity", to: 0.1 }],
    1500,
    am4core.ease.sinOut
  );
});
axisBreak.events.on("out", function() {
  axisBreak.animate(
    [{ property: "breakSize", to: 0.005 }, { property: "opacity", to: 1 }],
    1000,
    am4core.ease.quadOut
  );
});

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "country";
series.dataFields.valueY = "visits";
series.columns.template.tooltipText = "채팅 데이터 : {valueY.value}";
series.columns.template.tooltipY = 0;
series.columns.template.strokeOpacity = 0;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
});
console.log(dataColorArray);
}); // end am4core.ready()
</script>
{% endblock %}