{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<section class="contents">
    <input type="hidden" id="timeLine" name="timeLine" value="{{ timeLine }}">
    <input type="hidden" id="chat" name="chat" value="{{ chat }}">
    <div class="video2 animate" data-animate = "motion">
        <div class="inner">
            <div class="title  animate" data-animate = "motion">
                <div data-splitting class="en">HANDSOME TimeLINE</div>
                <P>채팅타임라인</P>
            </div>
            <a href="#" class="more en">FIND OUT MORE</a>
            <div class="videoBox">
                <p class="mask"><span><div id="chartdiv2"></div></span></p>
            </div>
        </div>
    </div>
    <section class="contents">
        <div class="information">
            <div class="scrollBox" id="scroll">
                <a href="#" class="scroll en" id="chatScroll">SCROLL DOWN <span><img src="{% static 'img/scrolldown.png' %}" alt=""></span></a>
            </div>
        </div>
    </section>
    <div id="chatData">
    </div>
    <div class="news">
        <div class="inner animate" data-animate = "motion">
            <div class="title">
                <div data-splitting class="en">H-NUNE</div>
                <div data-splitting class="en">TIMELINE</div>
            </div>
        </div>
        <p class="symbol animate" data-animate = "motion"><img src="{% static 'img/로고1_파스텔.png' %}" alt=""></p>
        <ul class="newsList">
            <li><a href="#">
                <span class="category">공지 <br>사항</span>
                <span class="subject">새해 복 많이 받으세요!</span>
                <span class="date en">2020.01.20</span>
                <span class="desc"></span>
            </a></li>
            <li><a href="#">
                <span class="category">대산 <br>소식</span>
                <span class="subject">마곡 신사옥에서 2020년 첫 시무식</span>
                <span class="date en">2020.01.02</span>
                <span class="desc">마곡 신사옥에서 2020년 첫 시무식
                    당사는 서울 강서구 마곡 신사옥에서 2일 오전 11시 시무식을 열고 2020년을 맞았습니다!이날 시무식에는 본사 임직원들이 8층 대회의실에서 새로운 한해를 시작...</span>
            </a></li>
            <li><a href="#">
                <span class="category">대산 <br>소식</span>
                <span class="subject">대방산업개발 CF</span>
                <span class="date en">2019.12.23</span>
                <span class="desc">대방산업개발 CF</span>
            </a></li>
        </ul>
    </div>
</section>
<style>
    #chartdiv2 {
      width: 90%;
      height: 500px;
    }
</style>
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  // timeLine Data
  var data = document.getElementById("timeLine").value;
  var chat = document.getElementById("chat").value;
  console.log(chat);
  for(var i =0; i<chat.length; i++){
      console.log(chat[i].chat);
  }
  timeLineArr = new Map();
  for (var i=0; i<120; i++){
    timeLineArr.set(i)
  }
  data = data.split(",");
  var key = "";
  var value = "";
  // document.getElementById("result").innerText = timeLineArr;
  // console.log(data);
//   console.log(timeLineArr);

am4core.ready(function() {

  // Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv2", am4charts.XYChart);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

var dataArray = [];
var dataColorArray = [];

for(var j=0; j<76; j++){
  for(var i =0; i<data.length; i++){
    if(data[i].includes("(")){
      key = data[i].split("'")[1];
      // console.log(key);
    }
    if(key==j){
      if(data[i].includes(")")){
        value = data[i].split(")")[0].trim();
        timeLineArr.set(parseInt(key), value);
        var dataObject = {};
        dataObject.country = key;
        dataObject.visits = value;
        dataObject.color = "#4F7CAC";

        dataArray.push(dataObject);
        var colorObject = {};
        colorObject.color = "#4F7CAC";
        // console.log(colorObject);
        dataColorArray.push(colorObject);
      }
    }
  }
}

chart.colors.list = [
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
];
// console.log(typeof(chart.colors.list))
// console.log(dataObject);
// console.log(dataArray);

chart.data = dataArray;

var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.title.text = "Live Time (분)";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.minGridDistance = 40;
categoryAxis.fontSize = 11;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.title.text = "채팅 수";
valueAxis.min = 0;
valueAxis.max = 50;
valueAxis.strictMinMax = true;
valueAxis.renderer.minGridDistance = 30;
// axis break
var axisBreak = valueAxis.axisBreaks.create();
axisBreak.startValue = 2100;
axisBreak.endValue = 22900;
//axisBreak.breakSize = 0.005;

// fixed axis break
var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

// make break expand on hover
var hoverState = axisBreak.states.create("hover");
hoverState.properties.breakSize = 1;
hoverState.properties.opacity = 0.1;
hoverState.transitionDuration = 1500;

axisBreak.defaultState.transitionDuration = 1000;

// this is exactly the same, but with events
// axisBreak.events.on("over", function() {
//   axisBreak.animate(
//     [{ property: "breakSize", to: 1 }, { property: "opacity", to: 0.1 }],
//     1500,
//     am4core.ease.sinOut
//   );
// });
// axisBreak.events.on("out", function() {
//   axisBreak.animate(
//     [{ property: "breakSize", to: 0.005 }, { property: "opacity", to: 1 }],
//     1000,
//     am4core.ease.quadOut
//   );
// });

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "country";
series.dataFields.valueY = "visits";
series.columns.template.tooltipText = "채팅 데이터 : {valueY.value}";
series.columns.template.tooltipY = 0;
series.columns.template.strokeOpacity = 0;

var innerHtml = "";
series.columns.template.events.on("hit", function(ev) {
    innerHtml += "<div>"
    // for(var i=0; i<)
    innerHtml += "</div>"
    document.getElementById("chatData").innerHTML = innerHtml;
}, this);

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
});
// console.log(dataColorArray);
}); // end am4core.ready()
</script>
{% endblock %}