{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
<section class="contents">
    <input type="hidden" id="timeLine" name="timeLine" value="{{ timeLine }}">
    <input type="hidden" id="chat" name="chat" value="{{ chat }}">
    <div class="video2 animate" data-animate = "motion">
        <div class="inner">
            <div class="title  animate" data-animate = "motion">
                <div data-splitting class="en">HANDSOME TimeLINE</div>
                <P>채팅타임라인</P>
            </div>
            <a href="#" class="more en">FIND OUT MORE</a>
            <div class="videoBox">
                <a href="#" class="scroll en" id="chatScroll"> <span><p class="mask"><span><div id="chartdiv2"></div></span></p></span></a>
            </div>
        </div>
    </div>
    <section class="contents2">
        <div class="information">
            <div class="scrollBox" id="scroll">
                <a href="#" class="scroll en" id="chatScroll">TIMELINE DATA ANALYTICS<span>
                    <!-- <img src="{% static 'img/scrolldown.png' %}" alt=""> -->
                </span></a>
            </div>
        </div>
    </section>
    <section class="contents">
        <span id="chatData"></span>
    </section>

    <div id="chartdiv3"></div>
<style>
    #chartdiv2 {
      width: 90%;
      height: 500px;
    }
    #chartdiv3 {
      width: 100%;
      height: 600px;
    }
</style>
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script src="https://cdn.amcharts.com/lib/4/plugins/timeline.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/bullets.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/moonrisekingdom.js"></script>

<!-- Chart code -->
<script>
  // timeLine Data
    var data = document.getElementById("timeLine").value;
    var chat = document.getElementById("chat").value;

    timeLineArr = new Map();
    var liveTime = [];
    var chatData = [];
    var categoryTime = [];
    var index = 0;
    var chat2 = chat.split(",");
    // console.log(chat2);
    for(var i=0; i<chat2.length; i+=2){
        // console.log("1 : ",chat2[i].split("'")[1]);
        // console.log("2 : ",chat2[i+1].split("'")[1]);
        // console.log("3 : ",chat2[i+2].split("'")[1]);
        if(chat2[i] != undefined &&chat2[i].length>2 && chat2[i].includes(":")){
            liveTime[index] = chat2[i].split("'")[1];
            if(chat2[i].split(":").length>2){
                categoryTime[index] = Number(chat2[i].split(":")[0].split("'")[1])*60 + Number(chat2[i].split(":")[1]);
            }else{
                categoryTime[index] = Number(chat2[i].split(":")[0].split("'")[1]);
            }
            if(chat2[i+1] != undefined &&chat2[i+1].length>2 && chat2[i+1].includes("'")){
                chatData[index] = chat2[i+1].split("'")[1];
            }
            index+=1;
        }
    }
    // console.log(categoryTime);
    // console.log(liveTime);
    // console.log(chatData);
  for (var i=0; i<120; i++){
    timeLineArr.set(i)
  }
  data = data.split(",");
  var key = "";
  var value = "";
  // document.getElementById("result").innerText = timeLineArr;
  // console.log(data);
//   console.log(timeLineArr);

am4core.ready(function() {

  // Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv2", am4charts.XYChart);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

var dataArray = [];
var dataColorArray = [];

for(var j=0; j<76; j++){
  for(var i =0; i<data.length; i++){
    if(data[i].includes("(")){
      key = data[i].split("'")[1];
    }
    if(key==j){
      if(data[i].includes(")")){
        value = data[i].split(")")[0].trim();
        timeLineArr.set(parseInt(key), value);
        var dataObject = {};
        dataObject.country = key;
        dataObject.visits = value;
        dataObject.color = "#4F7CAC";

        dataArray.push(dataObject);
        var colorObject = {};
        colorObject.color = "#4F7CAC";
        // console.log(colorObject);
        dataColorArray.push(colorObject);
      }
    }
  }
}

chart.colors.list = [
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
  am4core.color("#273C54"),
];
// console.log(typeof(chart.colors.list))
// console.log(dataObject);
// console.log(dataArray[0].country);

chart.data = dataArray;

var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.title.text = "Live Time (분)";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.minGridDistance = 40;
categoryAxis.fontSize = 11;
console.log(categoryAxis.dataFields.category.tooltipText);

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.title.text = "채팅 수";
valueAxis.min = 0;
valueAxis.max = 50;
valueAxis.strictMinMax = true;
valueAxis.renderer.minGridDistance = 30;
// axis break
var axisBreak = valueAxis.axisBreaks.create();
axisBreak.startValue = 2100;
axisBreak.endValue = 22900;
//axisBreak.breakSize = 0.005;

// fixed axis break
var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

// make break expand on hover
var hoverState = axisBreak.states.create("hover");
hoverState.properties.breakSize = 1;
hoverState.properties.opacity = 0.1;
hoverState.transitionDuration = 1500;

axisBreak.defaultState.transitionDuration = 1000;

// this is exactly the same, but with events
// axisBreak.events.on("over", function() {
//   axisBreak.animate(
//     [{ property: "breakSize", to: 1 }, { property: "opacity", to: 0.1 }],
//     1500,
//     am4core.ease.sinOut
//   );
// });
// axisBreak.events.on("out", function() {
//   axisBreak.animate(
//     [{ property: "breakSize", to: 0.005 }, { property: "opacity", to: 1 }],
//     1000,
//     am4core.ease.quadOut
//   );
// });

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "country";
series.dataFields.valueY = "visits";
series.columns.template.tooltipText = "채팅 데이터 : {valueY.value}";
series.columns.template.tooltipY = 0;
series.columns.template.strokeOpacity = 0;


// 클릭시 채팅 데이터 노출
series.columns.template.events.on("hit", function(ev) {
    var innerHtml = "";
    innerHtml += '<div class="video3 animate" data-animate = "motion">';
    innerHtml += '<div class="inner">';
    innerHtml += '<div class="videoBox">';
    innerHtml += '<p class="mask">';
    innerHtml += '<span>';
    var indexValue = 0;
    for(var i=0; i<dataArray.length; i++){
        // innerHtml += chatData[i];
        indexValue = Math.random()*100;
        // console.log(indexValue);
        if(indexValue<76){
            break;
        }
    }
    for(var j=0; j<categoryTime.length; j++){
    // innerHtml += categoryTime[j];
    // innerHtml += "<br/>";
        if(parseInt(indexValue)==Number(categoryTime[j])){
            innerHtml += liveTime[j];
            innerHtml += " &nbsp&nbsp&nbsp";
            innerHtml += chatData[j];
            innerHtml += "<br/>";
        }
    }
    innerHtml += '</span>';
    innerHtml += '</P>';
    innerHtml += '</div>';
    innerHtml += '<div class="title2  animate" data-animate = "motion">';
    innerHtml += '<div data-splitting class="en">RealTime</div>';
    innerHtml += '<P>Chat Data</P>';
    innerHtml += '</div>';
    innerHtml += '</div>';
    innerHtml += '</div>';

    document.getElementById("chatData").innerHTML = innerHtml;
}, this);

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function(fill, target) {
  return chart.colors.getIndex(target.dataItem.index);
});
// console.log(dataColorArray);
}); // end am4core.ready()
</script>
<!-- Chart code -->
<script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_moonrisekingdom);
    am4core.useTheme(am4themes_animated);
    // Themes end

    var chart = am4core.create("chartdiv3", am4plugins_timeline.SerpentineChart);
    chart.curveContainer.padding(100, 20, 50, 20);
    chart.levelCount = 3;
    chart.yAxisRadius = am4core.percent(20);
    chart.yAxisInnerRadius = am4core.percent(2);
    chart.maskBullets = false;

    var colorSet = new am4core.ColorSet();

    chart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";
    chart.dateFormatter.dateFormat = "HH";

    chart.data = [{
        "category": "",
        "start": "2019-01-10 06:00",
        "end": "2019-01-10 07:00",
        "color": colorSet.getIndex(15),
        "text": "I will have\na healthy day today!",
        "textDisabled": false,
        "icon": "VitaminPlusChat\static\img\white.png"
    }, {
        "category": "",
        "start": "2019-01-10 07:00",
        "end": "2019-01-10 08:00",
        "color": colorSet.getIndex(14),
        // "icon": "/wp-content/uploads/assets/timeline/timeline1.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 08:00",
        "end": "2019-01-10 09:00",
        "color": colorSet.getIndex(13),
        // "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 09:00",
        "end": "2019-01-10 10:00",
        "color": colorSet.getIndex(12),
        // "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 10:00",
        "end": "2019-01-10 12:00",
        "color": colorSet.getIndex(11),
        // "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 12:00",
        "end": "2019-01-10 13:00",
        "color": colorSet.getIndex(10),
        // "icon": "/wp-content/uploads/assets/timeline/timeline1.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 13:00",
        "end": "2019-01-10 14:00",
        "color": colorSet.getIndex(9),
        "text": "One beer doesn't count.",
        "textDisabled": false,
        // "icon": "/wp-content/uploads/assets/timeline/timeline3.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 14:00",
        "end": "2019-01-10 16:00",
        "color": colorSet.getIndex(8),
        // "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 16:00",
        "end": "2019-01-10 17:00",
        "color": colorSet.getIndex(7),
        // "icon": "/wp-content/uploads/assets/timeline/timeline4.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 17:00",
        "end": "2019-01-10 20:00",
        "color": colorSet.getIndex(6),
        // "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 20:00",
        "end": "2019-01-10 20:30",
        "color": colorSet.getIndex(5),
        // "icon": "/wp-content/uploads/assets/timeline/timeline3.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 20:30",
        "end": "2019-01-10 21:30",
        "color": colorSet.getIndex(4),
        // "icon": "/wp-content/uploads/assets/timeline/timeline3.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 21:30",
        "end": "2019-01-10 22:00",
        "color": colorSet.getIndex(3),
        // "icon": "/wp-content/uploads/assets/timeline/dance.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 22:00",
        "end": "2019-01-10 23:00",
        "color": colorSet.getIndex(2),
        // "icon": "/wp-content/uploads/assets/timeline/timeline5.svg"
    },
    {
        "category": "",
        "start": "2019-01-10 23:00",
        "end": "2019-01-11 00:00",
        "color": colorSet.getIndex(1),
        // "icon": "/wp-content/uploads/assets/timeline/timeline6.svg"
    },
    {
        "category": "",
        "start": "2019-01-11 00:00",
        "end": "2019-01-11 01:00",
        "color": colorSet.getIndex(0),
        "text": "Damn...",
        "textDisabled": false,
        // "icon": "/wp-content/uploads/assets/timeline/timeline7.svg"
    }];

    chart.fontSize = 10;
    chart.tooltipContainer.fontSize = 10;

    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "category";
    categoryAxis.renderer.grid.template.disabled = true;
    categoryAxis.renderer.labels.template.paddingRight = 25;
    categoryAxis.renderer.minGridDistance = 10;

    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.minGridDistance = 70;
    dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
    dateAxis.renderer.tooltipLocation = 0;
    dateAxis.renderer.line.strokeDasharray = "1,4";
    dateAxis.renderer.line.strokeOpacity = 0.5;
    dateAxis.tooltip.background.fillOpacity = 0.2;
    dateAxis.tooltip.background.cornerRadius = 5;
    dateAxis.tooltip.label.fill = new am4core.InterfaceColorSet().getFor("alternativeBackground");
    dateAxis.tooltip.label.paddingTop = 7;
    dateAxis.endLocation = 0;
    dateAxis.startLocation = -0.5;

    var labelTemplate = dateAxis.renderer.labels.template;
    labelTemplate.verticalCenter = "middle";
    labelTemplate.fillOpacity = 0.4;
    labelTemplate.background.fill = new am4core.InterfaceColorSet().getFor("background");
    labelTemplate.background.fillOpacity = 1;
    labelTemplate.padding(7, 7, 7, 7);

    var series = chart.series.push(new am4plugins_timeline.CurveColumnSeries());
    series.columns.template.height = am4core.percent(15);

    series.dataFields.openDateX = "start";
    series.dataFields.dateX = "end";
    series.dataFields.categoryY = "category";
    series.baseAxis = categoryAxis;
    series.columns.template.propertyFields.fill = "color"; // get color from data
    series.columns.template.propertyFields.stroke = "color";
    series.columns.template.strokeOpacity = 0;
    series.columns.template.fillOpacity = 0.6;

    var imageBullet1 = series.bullets.push(new am4plugins_bullets.PinBullet());
    imageBullet1.locationX = 1;
    imageBullet1.propertyFields.stroke = "color";
    imageBullet1.background.propertyFields.fill = "color";
    imageBullet1.image = new am4core.Image();
    imageBullet1.image.propertyFields.href = "icon";
    imageBullet1.image.scale = 0.5;
    imageBullet1.circle.radius = am4core.percent(100);
    imageBullet1.dy = -5;

    var textBullet = series.bullets.push(new am4charts.LabelBullet());
    textBullet.label.propertyFields.text = "text";
    textBullet.disabled = true;
    textBullet.propertyFields.disabled = "textDisabled";
    textBullet.label.strokeOpacity = 0;
    textBullet.locationX = 1;
    textBullet.dy = - 100;
    textBullet.label.textAlign = "middle";
    
    chart.scrollbarX = new am4core.Scrollbar();
    chart.scrollbarX.align = "center"
    chart.scrollbarX.width = am4core.percent(75);
    chart.scrollbarX.opacity = 0.5;
    
    var cursor = new am4plugins_timeline.CurveCursor();
    chart.cursor = cursor;
    cursor.xAxis = dateAxis;
    cursor.yAxis = categoryAxis;
    cursor.lineY.disabled = true;
    cursor.lineX.strokeDasharray = "1,4";
    cursor.lineX.strokeOpacity = 1;

    dateAxis.renderer.tooltipLocation2 = 0;
    categoryAxis.cursorTooltipEnabled = false;

    var label = chart.createChild(am4core.Label);
    label.text = "Monthly Handsome Live Commerce & Goods"
    label.isMeasured = false;
    label.y = am4core.percent(40);
    label.x = am4core.percent(50);
    label.horizontalCenter = "middle";
    label.fontSize = 20;

    }); // end am4core.ready()
</script>
{% endblock %}